<%- include('./partials/header.ejs') %>

		<!-- Hero section -->
		<div class="h-[35vh]" style="background: url('./img/enquiry-hero-bg.png')">
			<div
				class="container flex flex-col items-center justify-center h-full mx-auto text-white gap-y-5"
			>
				<h2 class="text-5xl font-bold">Inquiry</h2>
				<div class="text-sm breadcrumbs">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="font-medium">Inquiry</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- form section -->
		<div
			class="lg:h-[150vh]"
			style="background: url('./img/enquiry-bg.png'); background-size: cover"
		>
			<div
				class="container flex flex-col items-center justify-center h-full px-5 py-10 lg:p-0"
			>
				<div
					class="flex flex-col p-5 py-20 rounded-lg lg:p-20 lg:w-1/2 justify-self-center gap-y-10 bg-base-100"
				>
					<h3 class="text-4xl font-bold text-secondary">Inquiry for Bonanza</h3>
					<form id="enquiryForm">
						<div class="flex flex-col gap-y-5">
							<input
								class="w-full input input-bordered"
								type="text"
								placeholder="Name"
								name="name"
							/>
							<input
								class="input input-bordered"
								type="phone"
								placeholder="Phone"
								name="phoneNumber"
							/>
	
							<input
								class="input input-bordered"
								type="email"
								placeholder="Email address"
								name="email"
							/>
							<input
								class="input input-bordered"
								type="text"
								placeholder="Subject"
								name="subject"
							/>
	
							<textarea
								class="textarea textarea-bordered"
								placeholder="Enquiry"
								name="enquiry"
							></textarea>
	
							<button type="submit"
								class="self-start border-0 px-16 text-white normal-case btn bg-gradient-to-r from-[#1B8900] to-[#65A184]"
							>
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<a href="https://wa.me/<%= heroBanner[0].whatsappNumber %>" class="chatbot-button" target="_blank">
			<i class="text-xl bi bi-whatsapp" style="font-size: 28px;"></i>
		</a>
		
		

		<!-- footer section -->
        <%- include('./partials/footer.ejs') %>
		<!-- <script src="/js/enquiry.js"></script>
		<script src="/js/singleScript.js"></script> -->
		<script>
			getFooterInfo()
			getFooterSocialMedia()
			postEnquiryForm()
		</script>
	</body>
</html>