<%- include('./partials/header.ejs') %>

		<!-- Hero section -->
		<div class="h-[35vh]" style="background: url('./img/factory-hero-bg.png')">
			<div
				class="container flex flex-col items-center justify-center h-full mx-auto text-white gap-y-5"
			>
				<h2 class="text-4xl font-bold">Our Factory</h2>
				<div class="text-sm breadcrumbs">
					<ul>
						<li><a href="./index.html">Home</a></li>
						<li class="font-medium">Our Factory</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Request a callback section -->
		<div
			class="container flex flex-col items-center px-5 mt-16 gap-y-10 lg:px-0 lg:flex-row gap-x-36"
		>
			<div class="flex flex-col lg:w-3/4 gap-y-20">
				<div class="flex flex-col gap-y-3">
					<p class="font-medium uppercase text-accent">About Factory</p>
					<p class="text-4xl font-bold text-primary">
						We have 12 years experience
					</p>
				</div>
				<div class="flex flex-col gap-y-10">
					<p class="text-xl italic">
						“With over 12 years of industry experience, we have our expertise in
						producing top-quality jute products, delivering excellence to our
						clients.”
					</p>
					<p>
						Our factory is a modern facility specializing in the production of
						high-quality jute yarn, twine, and jute-based products. With
						advanced equipment and a skilled team, we prioritize precision and
						efficiency while maintaining stringent safety standards and
						sustainable practices.
					</p>
				</div>
			</div>
			<div class="flex flex-col shadow-xl rounded-xl lg:w-[50%] gap-y-7">
				<p class="text-2xl font-bold text-white p-7 rounded-xl bg-secondary">
					Request a call back
				</p>
				<div class="flex flex-col p-5 lg:p-5 gap-y-5">
					<p class="italic">
						Dolor in reprehenderit in voluptate velit esse cillum dolore eu
						fugiat nulla pariatur excepteur sint occaecat
					</p>
					<div class="flex flex-col gap-y-5">
						<input
							class="w-full input input-bordered"
							type="text"
							placeholder="Name"
						/>
						<input
							class="input input-bordered"
							type="phone"
							placeholder="Phone"
						/>

						<input
							class="input input-bordered"
							type="email"
							placeholder="Email address"
						/>
						<select class="font-normal select select-bordered">
							<option>Financial consulting</option>
							<option>Financial consulting</option>
							<option>Financial consulting</option>
							<option>Financial consulting</option>
						</select>

						<button
							class="border-0 px-16 text-white normal-case btn bg-gradient-to-r from-[#1B8900] to-[#65A184]"
						>
							Submit
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- long video section -->
		<div class="container relative px-5 mt-20 lg:px-0">
			<img src="./img/factory-video-long.png" alt="" />
			<p class="absolute absolute-center">
				<i
					class="text-6xl text-white cursor-pointer lg:text-8xl bi bi-play-fill"
				></i>
			</p>
		</div>

		<!-- multiple video section -->
		<div
			class="container grid px-5 mt-20 lg:px-0 lg:grid-cols-3 gap-x-10 gap-y-20"
		>
			<div class="relative flex flex-col gap-y-7">
				<img src="./img/factory-video-1.png" alt="" />
				<p class="absolute absolute-center">
					<i class="text-4xl text-white cursor-pointer bi bi-play-fill"></i>
				</p>
				<div class="flex flex-col gap-y-1">
					<p class="text-2xl font-semibold text-primary">
						Bonanza In Birds Eye
					</p>
					<p class="text-primary">Above 100,000 square meters</p>
				</div>
			</div>

			<div class="relative flex flex-col gap-y-7">
				<img src="./img/factory-video-2.png" alt="" />
				<p class="absolute absolute-center">
					<i class="text-4xl text-white cursor-pointer bi bi-play-fill"></i>
				</p>
				<div class="flex flex-col gap-y-1">
					<p class="text-2xl font-semibold text-primary">Factory Size</p>
					<p class="text-primary">Above 100,000 square meters</p>
				</div>
			</div>

			<div class="relative flex flex-col gap-y-7">
				<img src="./img/factory-video-3.png" alt="" />
				<p class="absolute absolute-center">
					<i class="text-4xl text-white cursor-pointer bi bi-play-fill"></i>
				</p>
				<div class="flex flex-col gap-y-1">
					<p class="text-2xl font-semibold text-primary">
						Finished stock of jute bag
					</p>
					<p class="text-primary">Above 100,000 square meters</p>
				</div>
			</div>

			<div class="relative flex flex-col gap-y-7">
				<img src="./img/factory-video-4.png" alt="" />
				<p class="absolute absolute-center">
					<i class="text-4xl text-white cursor-pointer bi bi-play-fill"></i>
				</p>
				<div class="flex flex-col gap-y-1">
					<p class="text-2xl font-semibold text-primary">
						Golden Eagle Spinning Machine
					</p>
					<p class="text-primary">Above 100,000 square meters</p>
				</div>
			</div>

			<div class="relative flex flex-col gap-y-7">
				<img src="./img/factory-video-5.png" alt="" />
				<p class="absolute absolute-center">
					<i class="text-4xl text-white cursor-pointer bi bi-play-fill"></i>
				</p>
				<div class="flex flex-col gap-y-1">
					<p class="text-2xl font-semibold text-primary">
						Jute Yarn/Twine Stock
					</p>
					<p class="text-primary">Above 100,000 square meters</p>
				</div>
			</div>

			<div class="relative flex flex-col gap-y-7">
				<img src="./img/factory-video-6.png" alt="" />
				<p class="absolute absolute-center">
					<i class="text-4xl text-white cursor-pointer bi bi-play-fill"></i>
				</p>
				<div class="flex flex-col gap-y-1">
					<p class="text-2xl font-semibold text-primary">Factory Size</p>
					<p class="text-primary">Above 100,000 square meters</p>
				</div>
			</div>
		</div>

		<!-- frequently asked question section -->
		<div
			class="container flex flex-col items-center px-5 lg:px-0 mt-36 gap-y-20"
		>
			<div class="flex flex-col items-center text-center lg:w-1/2 gap-y-3">
				<h2 class="text-4xl font-bold">Frequently Asked Questions</h2>
				<p class="text-primary">
					Lorem ipsum dolor sit amet consectetur. Tellus sem quisque tristique
					gravida pulvinar. Lacus tortor venenatis risus interdum id urna urna
					fermentum facilisis.
				</p>
			</div>
			<div class="lg:w-[60%] join join-vertical">
				<div class="border-b rounded-none collapse">
					<input type="checkbox" name="my-accordion-3" />

					<div
						class="flex items-center text-xl font-medium capitalize collapse-title gap-x-5"
					>
						<p class="accordion-icon">
							<i class="text-3xl bi bi-plus text-secondary"></i>
						</p>
						how soon will my order ship
					</div>

					<div class="collapse-content text-primary">
						<p>
							Is there any warranty exclusions? Lorem ipsum dolor sit amet
							consectetur. Diam pellentesque faucibus habitant mauris a et quis
							placerat purus. Vitae vel cum dui quisque donec eget. Eu aliquet
							nibh accumsan sit lorem. Amet blandit sem risus eu velit dui
							suspendisse tristique. Velit turpis vitae blandit velit. Viverra
							elit.
						</p>
					</div>
				</div>

				<div class="border-b rounded-none collapse">
					<input type="checkbox" name="my-accordion-3" />
					<div
						class="flex items-center text-xl font-medium capitalize gap-x-5 collapse-title"
					>
						<p class="accordion-icon">
							<i class="text-3xl bi bi-plus text-secondary"></i>
						</p>
						is there any warranty exclusions?
					</div>
					<div class="collapse-content text-primary">
						<p>
							Is there any warranty exclusions? Lorem ipsum dolor sit amet
							consectetur. Diam pellentesque faucibus habitant mauris a et quis
							placerat purus. Vitae vel cum dui quisque donec eget. Eu aliquet
							nibh accumsan sit lorem. Amet blandit sem risus eu velit dui
							suspendisse tristique. Velit turpis vitae blandit velit. Viverra
							elit.
						</p>
					</div>
				</div>

				<div class="border-b rounded-none collapse">
					<input type="checkbox" name="my-accordion-3" />
					<div
						class="flex items-center text-xl font-medium capitalize collapse-title gap-x-5"
					>
						<p class="accordion-icon">
							<i class="text-3xl bi bi-plus text-secondary"></i>
						</p>
						is there any return exclusions?
					</div>
					<div class="collapse-content text-primary">
						<p>
							Is there any warranty exclusions? Lorem ipsum dolor sit amet
							consectetur. Diam pellentesque faucibus habitant mauris a et quis
							placerat purus. Vitae vel cum dui quisque donec eget. Eu aliquet
							nibh accumsan sit lorem. Amet blandit sem risus eu velit dui
							suspendisse tristique. Velit turpis vitae blandit velit. Viverra
							elit.
						</p>
					</div>
				</div>

				<div class="border-b rounded-none collapse">
					<input type="checkbox" name="my-accordion-3" />
					<div
						class="flex items-center text-xl font-medium capitalize collapse-title gap-x-5"
					>
						<p class="accordion-icon">
							<i class="text-3xl bi bi-plus text-secondary"></i>
						</p>
						Will I be charged for a replacement item?
					</div>
					<div class="collapse-content text-primary">
						<p>
							Is there any warranty exclusions? Lorem ipsum dolor sit amet
							consectetur. Diam pellentesque faucibus habitant mauris a et quis
							placerat purus. Vitae vel cum dui quisque donec eget. Eu aliquet
							nibh accumsan sit lorem. Amet blandit sem risus eu velit dui
							suspendisse tristique. Velit turpis vitae blandit velit. Viverra
							elit.
						</p>
					</div>
				</div>

				<div class="border-b rounded-none collapse">
					<input type="checkbox" name="my-accordion-3" />
					<div
						class="flex items-center text-xl font-medium capitalize collapse-title gap-x-5"
					>
						<p class="accordion-icon">
							<i class="text-3xl bi bi-plus text-secondary"></i>
						</p>
						How can I track my orders & payment?
					</div>
					<div class="collapse-content text-primary">
						<p>
							Is there any warranty exclusions? Lorem ipsum dolor sit amet
							consectetur. Diam pellentesque faucibus habitant mauris a et quis
							placerat purus. Vitae vel cum dui quisque donec eget. Eu aliquet
							nibh accumsan sit lorem. Amet blandit sem risus eu velit dui
							suspendisse tristique. Velit turpis vitae blandit velit. Viverra
							elit.
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Review section -->
		<div class="flex flex-col gap-y-10 lg:flex-row mt-36">
			<div class="lg:w-1/2">
				<img src="./img/factory-bg-2.png" alt="" />
			</div>
			<div
				class="flex flex-col items-center justify-center px-5 text-center lg:px-0 lg:w-1/2 gap-y-16"
			>
				<div class="flex flex-col items-center text-center lg:w-1/2 gap-y-10">
					<p class="italic text-primary">
						Phasellus ultrices ut tortor at porta. Praesent maximus, lacus sed
						rutrum aliquet, lacus tellus tincidunt nisl, vitae molestie nisi
						sapien et dolor suspendisse mi est
					</p>
					<div class="flex flex-col gap-y-4">
						<p class="flex text-transparent gap-x-2 bg-clip-text bg-gradient">
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
						</p>
						<p
							class="flex flex-col font-medium text-transparent bg-clip-text bg-gradient"
						>
							Alice Guzman
							<span class="text-[#9C9EA6] font-normal">HSBC Bank</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- have a question section -->
		<div
			class="w-full py-5 mt-20 lg:mt-0"
			style="background: url('./img/factory-bg-3.png')"
		>
			<div class="container flex justify-center h-[62vh] mx-auto">
				<div
					class="flex flex-col justify-center h-full px-5 lg:px-0 lg:w-1/2 gap-y-7"
				>
					<h2 class="text-5xl font-bold text-center text-white">
						Have a question?
					</h2>

					<div class="flex flex-col gap-y-5">
						<div class="grid gap-y-5 lg:grid-cols-2 gap-x-5">
							<input
								class="input input-border input-lg"
								type="text"
								placeholder="Name"
							/>
							<input
								class="input input-border input-lg"
								type="email"
								placeholder="Email Address"
							/>
						</div>

						<textarea
							class="textarea textarea-lg h-36"
							placeholder="Question"
						></textarea>
						<button
							class="self-start border-0 px-16 hover:text-white normal-case btn btn-lg text-black duration-150 hover:bg-gradient-to-r from-[#1B8900] to-[#65A184]"
						>
							Submit
						</button>
					</div>
				</div>
			</div>
		</div>

		<script>
			const checkboxes = document.querySelectorAll('.collapse > input');

			console.log(checkboxes);
			checkboxes.forEach((cb) => {
				cb.addEventListener('click', (e) => {
					if (e.target.checked) {
						e.target.parentElement.children[1].children[0].innerHTML = '';
						e.target.parentElement.children[1].children[0].innerHTML =
							'<i class="text-3xl bi bi-dash text-secondary"></i>';
					} else {
						e.target.parentElement.children[1].children[0].innerHTML = '';
						e.target.parentElement.children[1].children[0].innerHTML =
							'<i class="text-3xl bi bi-plus text-secondary"></i>';
					}
				});
			});
		</script>

		<!-- footer section -->
        <%- include('./partials/footer.ejs') %>