<%- include('./partials/header.ejs') %>

		<!-- Hero section -->
		<div
			class="h-[35vh]"
			style="background: url('./img/ourProductHeroBg.png')"
		>
			<div
				class="container flex flex-col items-center justify-center h-full mx-auto text-white gap-y-5"
			>
				<h2 class="text-5xl font-bold">Our Product</h2>
				<div class="text-sm breadcrumbs">
					<ul>
						<li><a href="./index.html">Home</a></li>
						<li class="font-medium">Our Product</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Product section -->
		<div
			class="container flex flex-col min-h-screen px-5 mt-20 gap-y-20 lg:flex-row gap-x-20 lg:px-0"
		>
			<div class="flex relative flex-col gap-y-7 lg:w-[20%]">
				<p class="text-xl font-bold">Product Categories</p>
				<div class="flex flex-col gap-y-2">
					<p
						class="flex items-center p-4 font-semibold duration-150 rounded-lg cursor-pointer hover:product-sidebar-link-active product-sidebar-link-active gap-x-3"
					>
						<i class="bi bi-arrow-right-circle"></i>
						Jute Twine
					</p>
					<p
						class="flex items-center p-4 font-semibold duration-150 rounded-lg cursor-pointer hover:product-sidebar-link-active product-sidebar-link gap-x-3"
					>
						<i class="bi bi-arrow-right-circle"></i>
						Jute Rope
					</p>
					<p
						class="flex items-center p-4 font-semibold duration-150 rounded-lg cursor-pointer hover:product-sidebar-link-active product-sidebar-link gap-x-3"
					>
						<i class="bi bi-arrow-right-circle"></i>
						Jute Fiber
					</p>
					<p
						class="flex items-center p-4 font-semibold duration-150 rounded-lg cursor-pointer hover:product-sidebar-link-active product-sidebar-link gap-x-3"
					>
						<i class="bi bi-arrow-right-circle"></i>
						Jute Yarn
					</p>
				</div>
				<div
					class="absolute bottom-0 flex-col self-end hidden w-full px-5 py-8 text-white rounded-lg lg:flex justify-self-end gap-y-4 h-fit"
					style="
						background: url('./img/Group-1.png');
						background-size: cover;
					"
				>
					<p class="text-xl font-bold">How can we help you</p>
					<p>online support 24/7, we are here to help you</p>
					<div class="relative">
						<input
							type="email"
							class="text-black input input-bordered"
							placeholder="Email address"
						/>
						<span
							class="absolute top-[50%] z-[100] translate-y-[-50%] right-[6%]"
							><button
								class="text-xl z-[100] bg-transparent border-0 btn text-secondary"
							>
								<i class="bi bi-envelope z-[100]"></i></button
						></span>
					</div>
				</div>
			</div>

			<div class="grid lg:grid-cols-3 gap-20 px-5 lg:w-[80%]">
				<div class="flex flex-col gap-y-4">
					<img src="./img/product-1.png" />
					<p class="font-semibold">
						High Quality Comfortable 100% Natural Wholesale Cheap
						price Jute Hessian Sacking Bag.
					</p>
					<div class="flex justify-between">
						<p class="flex text-primary gap-x-2">
							<i class="bi bi-folder"></i>Jute Twine
						</p>
						<a
							href="/productDetails"
							class="font-bold text-secondary"
							>Details</a
						>
					</div>
				</div>

				<div class="flex flex-col gap-y-4">
					<img src="./img/product-2.png" />
					<p class="font-semibold">
						High Quality Comfortable 100% Natural Wholesale Cheap
						price Jute Hessian Sacking Bag.
					</p>
					<div class="flex justify-between">
						<p class="flex text-primary gap-x-2">
							<i class="bi bi-folder"></i>Jute Twine
						</p>
						<a
							href="/productDetails"
							class="font-bold text-secondary"
							>Details</a
						>
					</div>
				</div>

				<div class="flex flex-col gap-y-4">
					<img src="./img/product-3.png" />
					<p class="font-semibold">
						High Quality Comfortable 100% Natural Wholesale Cheap
						price Jute Hessian Sacking Bag.
					</p>
					<div class="flex justify-between">
						<p class="flex text-primary gap-x-2">
							<i class="bi bi-folder"></i>Jute Twine
						</p>
						<a
							href="/productDetails"
							class="font-bold text-secondary"
							>Details</a
						>
					</div>
				</div>

				<div class="flex flex-col gap-y-4">
					<img src="./img/product-4.png" />
					<p class="font-semibold">
						High Quality Comfortable 100% Natural Wholesale Cheap
						price Jute Hessian Sacking Bag.
					</p>
					<div class="flex justify-between">
						<p class="flex text-primary gap-x-2">
							<i class="bi bi-folder"></i>Jute Twine
						</p>
						<a
							href="/productDetails"
							class="font-bold text-secondary"
							>Details</a
						>
					</div>
				</div>

				<div class="flex flex-col gap-y-4">
					<img src="./img/product-5.png" />
					<p class="font-semibold">
						High Quality Comfortable 100% Natural Wholesale Cheap
						price Jute Hessian Sacking Bag.
					</p>
					<div class="flex justify-between">
						<p class="flex text-primary gap-x-2">
							<i class="bi bi-folder"></i>Jute Twine
						</p>
						<a
							href="/productDetails"
							class="font-bold text-secondary"
							>Details</a
						>
					</div>
				</div>

				<div class="flex flex-col gap-y-4">
					<img src="./img/product-6.png" />
					<p class="font-semibold">
						High Quality Comfortable 100% Natural Wholesale Cheap
						price Jute Hessian Sacking Bag.
					</p>
					<div class="flex justify-between">
						<p class="flex text-primary gap-x-2">
							<i class="bi bi-folder"></i>Jute Twine
						</p>
						<a
							href="/productDetails"
							class="font-bold text-secondary"
							>Details</a
						>
					</div>
				</div>

				<div class="flex flex-col gap-y-4">
					<img src="./img/product-7.png" />
					<p class="font-semibold">
						High Quality Comfortable 100% Natural Wholesale Cheap
						price Jute Hessian Sacking Bag.
					</p>
					<div class="flex justify-between">
						<p class="flex text-primary gap-x-2">
							<i class="bi bi-folder"></i>Jute Twine
						</p>
						<a
							href="/productDetails"
							class="font-bold text-secondary"
							>Details</a
						>
					</div>
				</div>

				<div class="flex flex-col gap-y-4">
					<img src="./img/product-8.png" />
					<p class="font-semibold">
						High Quality Comfortable 100% Natural Wholesale Cheap
						price Jute Hessian Sacking Bag.
					</p>
					<div class="flex justify-between">
						<p class="flex text-primary gap-x-2">
							<i class="bi bi-folder"></i>Jute Twine
						</p>
						<a
							href="/productDetails"
							class="font-bold text-secondary"
							>Details</a
						>
					</div>
				</div>

				<div class="flex flex-col gap-y-4">
					<img src="./img/product-9.png" />
					<p class="font-semibold">
						High Quality Comfortable 100% Natural Wholesale Cheap
						price Jute Hessian Sacking Bag.
					</p>
					<div class="flex justify-between">
						<p class="flex text-primary gap-x-2">
							<i class="bi bi-folder"></i>Jute Twine
						</p>
						<a
							href="/productDetails"
							class="font-bold text-secondary"
							>Details</a
						>
					</div>
				</div>
			</div>
		</div>

		<!-- Video section -->
		<div class="container relative flex justify-center px-5 mt-36 lg:px-0">
			<img src="./img/surfer-blue-wave_72229-1375 4.png" alt="" />
			<span
				class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] lg:text-8xl text-6xl text-white"
			>
				<i class="cursor-pointer bi bi-play-fill"></i
			></span>
		</div>

		<!-- success story section -->
		<div
			class="mt-36"
			style="
				background: url('./img/products-bg-2.png');
				background-size: cover;
			"
		>
			<div
				class="container flex flex-col items-center px-5 py-20 text-center text-white lg:p-x-0 gap-y-20"
			>
				<div class="flex flex-col">
					<p class="text-sm font-medium uppercase">numbers speak</p>
					<p class="text-5xl font-bold">Success story</p>
				</div>
				<div class="grid gap-y-10 lg:grid-cols-3 gap-x-20">
					<div class="flex flex-col">
						<p class="text-5xl font-bold lg:text-8xl">93.33%</p>
						<p class="font-medium">Response rate</p>
					</div>

					<div class="flex flex-col">
						<p class="text-5xl font-bold lg:text-8xl">370</p>
						<p class="font-medium">Response time</p>
					</div>

					<div class="flex flex-col">
						<p class="text-5xl font-bold lg:text-8xl">3.689</p>
						<p class="font-medium">Quotation Perfomance</p>
					</div>
				</div>
			</div>
		</div>

		<!-- footer section -->
		<%- include('./partials/footer.ejs') %>