<%- include('./partials/header.ejs') %>

		<!-- Hero section -->
		<div class="h-[35vh]" style="background: url('./img/teamHeroBg.png')">
			<div
				class="container flex flex-col items-center justify-center h-full mx-auto text-white gap-y-5"
			>
				<h2 class="text-5xl font-bold">Our Team</h2>
				<div class="text-sm breadcrumbs">
					<ul>
						<li><a href="./index.html">Home</a></li>
						<li class="font-medium">Our Team</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- team leader section -->
		<div class="container grid px-5 mt-20 gap-y-10 lg:px-0 lg:grid-cols-2">
			<div class=""><img src="./img/taemLeader.png" alt="" /></div>
			<div class="flex flex-col gap-y-12">
				<p class="text-4xl font-bold text-secondary">
					Name is a professional engineer
				</p>
				<p class="text-primary">
					Hello! to the table win survival strategy ensure to
					proactive domination At the end of the day, going forward
					new normal that has evolved from user generated content will
					have touch points shoring hanging fruits to identify a
					ballpark value-added activity to beta.
				</p>
				<div class="border"></div>
				<div class="flex flex-col lg:w-1/2 gap-y-5">
					<div class="grid grid-cols-2">
						<p class="font-bold text-secondary">Phone:</p>
						<p>(+01) 123 456 789</p>
					</div>
					<div class="grid grid-cols-2">
						<p class="font-bold text-secondary">Email:</p>
						<p>@davidjames.com</p>
					</div>
					<div class="grid grid-cols-2">
						<p class="font-bold text-secondary">Website:</p>
						<p>www.davidjames.com</p>
					</div>
					<div class="flex mt-5 text-2xl gap-x-7 text-secondary">
						<i class="cursor-pointer bi bi-instagram"></i>
						<i class="cursor-pointer bi bi-facebook"></i>
						<i class="cursor-pointer bi bi-twitter"></i>
					</div>
					<button
						class="self-start mt-10 font-medium text-white normal-case btn-lg btn btn-secondary"
					>
						Contact Me
					</button>
				</div>
			</div>
		</div>

		<!-- Qualification & experience section -->
		<div class="container flex flex-col px-5 lg:px-0 mt-36 gap-y-10">
			<p class="text-4xl font-bold text-secondary">
				Qualification & Experience
			</p>
			<div class="flex flex-col text-primary gap-y-5">
				<p class="w-[70%]">
					Lorem ipsum dolor sit amet consectetur. Eu egestas ut lectus
					sed pellentesque cras id. Elementum diam interdum laoreet
					nunc sed dictumst. Leo tellus eu diam malesuada congue.
					Aliquam sem a viverra dictum lobortis placerat. Mauris massa
					natoque scelerisque massa pulvinar massa pharetra. Vel
					commodo morbi pellentesque quam pellentesque bibendum. Sit
					id condimentum elit arcu potenti metus malesuada. Auctor
					augue iaculis nisl ut at. Est amet quam cursus enim.
				</p>
				<ol class="flex flex-col gap-y-4">
					<li>1. Listen to what the say about you</li>
					<li>2. Randomised word which</li>
					<li>3. Internet tend to repeat predefined chunks</li>
				</ol>
			</div>
		</div>

		<!-- Make real time a day services section -->
		<div class="container flex flex-col px-5 mt-20 lg:px-0 gap-y-10">
			<p class="text-4xl font-bold text-secondary">
				Make real time a day services
			</p>
			<div class="flex flex-col text-primary gap-y-5">
				<p class="w-[70%]">
					Lorem ipsum dolor sit amet consectetur. Eu egestas ut lectus
					sed pellentesque cras id. Elementum diam interdum laoreet
					nunc sed dictumst. Leo tellus eu diam malesuada congue.
					Aliquam sem a viverra dictum lobortis placerat. Mauris massa
					natoque scelerisque massa pulvinar massa pharetra. Vel
					commodo morbi pellentesque quam pellentesque bibendum. Sit
					id condimentum elit arcu potenti metus malesuada. Auctor
					augue iaculis nisl ut at. Est amet quam cursus enim.
				</p>
				<ol class="flex flex-col gap-y-4">
					<li>1. Listen to what the say about you</li>
					<li>2. Randomised word which</li>
					<li>3. Internet tend to repeat predefined chunks</li>
				</ol>
			</div>
		</div>

		<!-- Meet our expert section -->
		<div
			class="container flex flex-col items-center px-5 mt-20 mb-40 lg:px-0 lg:mt-0 gap-y-20"
		>
			<div class="flex flex-col items-center text-center gap-y-5">
				<h2 class="text-5xl font-bold text-secondary">
					Meet our experts
				</h2>
				<p class="text-primary lg:w-[60%]">
					Pellentesque vehicula eros neque, maximus mattis est
					sagittis Nulla facilisi. In sed pretium metus. Proin pretium
					id urna sit amet tincidunt.
				</p>
			</div>
			<div class="grid lg:grid-cols-3 gap-x-36 gap-y-16">
				<div class="flex flex-col border rounded-lg p-7 gap-y-7">
					<img src="./img/expert-1.png" alt="" />
					<div class="flex flex-col text-center gap-y-3">
						<p class="text-xl font-bold text-secondary">
							David James
						</p>
						<p class="text-primary">Engineer</p>
					</div>
				</div>

				<div class="flex flex-col border rounded-lg p-7 gap-y-7">
					<img src="./img/expert-2.png" alt="" />
					<div class="flex flex-col text-center gap-y-3">
						<p class="text-xl font-bold text-secondary">
							Kevin Martin
						</p>
						<p class="text-primary">Engineer</p>
					</div>
				</div>

				<div class="flex flex-col border rounded-lg p-7 gap-y-7">
					<img src="./img/expert-3.png" alt="" />
					<div class="flex flex-col text-center gap-y-3">
						<p class="text-xl font-bold text-secondary">
							Sarrah Albert
						</p>
						<p class="text-primary">Engineer</p>
					</div>
				</div>

				<div class="flex flex-col border rounded-lg p-7 gap-y-7">
					<img src="./img/expert-4.png" alt="" />
					<div class="flex flex-col text-center gap-y-3">
						<p class="text-xl font-bold text-secondary">
							Jake Gibson
						</p>
						<p class="text-primary">Engineer</p>
					</div>
				</div>

				<div class="flex flex-col border rounded-lg p-7 gap-y-7">
					<img src="./img/expert-5.png" alt="" />
					<div class="flex flex-col text-center gap-y-3">
						<p class="text-xl font-bold text-secondary">
							Natalie Lee
						</p>
						<p class="text-primary">Engineer</p>
					</div>
				</div>

				<div class="flex flex-col border rounded-lg p-7 gap-y-7">
					<img src="./img/expert-6.png" alt="" />
					<div class="flex flex-col text-center gap-y-3">
						<p class="text-xl font-bold text-secondary">
							Max Oliver
						</p>
						<p class="text-primary">Engineer</p>
					</div>
				</div>
			</div>
		</div>

		<!-- footer section -->
		<%- include('./partials/footer.ejs') %>