<div
			class="px-5 py-10 pt-20 text-white border-b lg:px-0 border-primary bg-secondary"
		>
			<div class="container grid grid-cols-1 mx-auto gap-y-10 lg:grid-cols-4">
				<div class="grid col-span-2 lg:grid-cols-2 gap-y-10">
					<div class="flex">
						<img src="./img/logo-bg-white.png" class="h-fit" />
					</div>
					<div class="flex flex-col gap-y-10">
						<p class="text-xl font-semibold">Pages</p>
						<ul class="flex flex-col gap-y-2">
							<li>
								<a href="/aboutUs" class="hover:underline">About Us</a>
							</li>
							<li>
								<a href="/ourProduct" class="hover:underline"
									>Our Product</a
								>
							</li>
							<li>
								<a href="/factory" class="hover:underline">Our Factory</a>
							</li>
							<li>
								<a href="/ourTeam" class="hover:underline">Our Team</a>
							</li>
							<li>
								<a href="/contactUs" class="hover:underline"
									>Contact Us</a
								>
							</li>
							<li>
								<a href="/enquiry" class="hover:underline">Enquiry</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="flex flex-col col-span-2 gap-y-10">
					<p class="text-xl font-semibold">Contact</p>
					<div class="grid gap-10 lg:grid-cols-2">
						<ul class="flex flex-col gap-y-2">
							<li class="font-bold uppercase">mainul hossain</li>
							<li class="flex items-center gap-x-2">
								<i class="bi bi-person-circle"></i>
								Managing Director
							</li>
							<li class="flex items-center gap-x-2">
								<i class="bi bi-telephone"></i>
								+8801750613481
							</li>
							<li class="flex items-center gap-x-2">
								<i class="bi bi-envelope"></i>
								bonanza.jutecomposite@gmail.com
							</li>
							<li class="flex items-center gap-x-2">
								<i class="bi bi-geo-alt"></i>
								Kolaron, Boalmari, Faridpur, Dhaka, Bangladesh
							</li>
						</ul>

						<ul class="flex flex-col gap-y-2">
							<li class="font-bold uppercase">mohsin hossain</li>
							<li class="flex items-center gap-x-2">
								<i class="bi bi-person-circle"></i>
								Managing Director
							</li>
							<li class="flex items-center gap-x-2">
								<i class="bi bi-telephone"></i>
								+8801977672835
							</li>
							<li class="flex items-center gap-x-2">
								<i class="bi bi-envelope"></i>
								bonanza.jutecomposite@gmail.com
							</li>
							<li class="flex items-center gap-x-2">
								<i class="bi bi-geo-alt"></i>
								Kolaron, Boalmari, Faridpur, Dhaka, Bangladesh
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="py-5 text-white bg-secondary">
			<div
				class="container flex flex-col items-center justify-between px-5 py-5 mx-auto text-center lg:text-left gap-y-10 lg:px-0 lg:flex-row"
			>
				<p>© 2023 Bonanza. All Rights Reserved. Designed by Code Studio</p>
				<ul class="flex items-start gap-x-5">
					<li>
						<a
							href=""
							class="flex items-center justify-center p-3 px-4 duration-100 border border-transparent rounded-full hover:border-white"
							><i class="text-xl bi bi-facebook"></i
						></a>
					</li>
					<li>
						<a
							href=""
							class="flex items-center justify-center p-3 px-4 duration-100 border border-transparent rounded-full hover:border-white"
							><i class="text-xl bi bi-twitter"></i
						></a>
					</li>
					<li>
						<a
							href=""
							class="flex items-center justify-center p-3 px-4 duration-100 border border-transparent rounded-full hover:border-white"
							><i class="text-xl bi bi-instagram"></i
						></a>
					</li>
					<li>
						<a
							href=""
							class="flex items-center justify-center p-3 px-4 duration-100 border border-transparent rounded-full hover:border-white"
							><i class="text-xl bi bi-linkedin"></i
						></a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>